.container {
  width: 100%;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  color: darkblue;
  justify-content: space-between;
}
.form-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.input-section {
  display: flex;
  flex-direction: column;

  justify-content: left;
  background-color: aqua;
  border-radius: 1rem;
  padding: 1rem;
  font-size: larger;
}

.button {
  margin-top: 0.5rem;
  width: 5rem;
  font-size: large;
  padding: 0.5rem;
  align-self: center;
  border-radius: 0.7rem;
  background-color: aqua;
  border: 1px solid darkblue;
  color: darkblue;
}
.button:hover {
  background-color: darkblue;
  color: aqua;
}
.input-container {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}
.input-container-checkbox {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.input-field {
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  border-style: none;
  padding: 0.7rem;
  width: 80%;
  color: darkblue;
}

.input-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid darkblue;
}

.input-checkbox::after {
  opacity: 1;
  content: "";
  display: none;
  transform: rotate(45deg);
  height: 25px;
  margin-left: 7px;
  margin-top: -4px;
  padding-left: 10px;
  border-bottom: 7px solid darkblue;
  border-right: 7px solid darkblue;
}

.input-checkbox:checked::after {
  display: inline-block;
}
