.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  list-style: none;
  gap: 0.5rem;
  padding-left: 0;
  height: 200px;
  overflow-y: scroll;
}
.listItem {
  padding: 0.7rem;
  background-color: cornflowerblue;
  width: 90%;
  border-radius: 0.6rem;
  color: white;
  font-size: larger;
}
.delete-button {
  border-radius: 50%;
  border-style: none;
  float: right;
  cursor: pointer;

  font-weight: bold;
}
.delete-button:hover {
  background-color: rgb(252, 68, 68);
  color: white;
}
