.list-section {
  margin-bottom: 0;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0;
}
h3 {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 0.4rem;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  list-style: none;
  gap: 0.5rem;
  padding-left: 0;

  height: 20vh;
  overflow-y: scroll;
  margin-bottom: 1rem;
}
.listItem {
  padding: 0.7rem;
  background-color: aqua;
  width: 100%;
  border-radius: 0.6rem;
  color: darkblue;
  font-size: larger;
}
.listItem:hover {
  background-color: darkblue;
  color: aqua;
}
.delete-button {
  border-radius: 50%;
  border-style: none;
  float: right;
  cursor: pointer;

  font-weight: bold;
}
.delete-button:hover {
  background-color: rgb(252, 68, 68);
  color: white;
}
