.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2rem;
}
.weather-good {
  background-image: linear-gradient(aqua, rgb(252, 252, 131));
  color: darkblue;
}
.weather-bad {
  background-image: linear-gradient(cornflowerblue, rgb(64, 8, 107));
  color: white;
}
