.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0 1rem 1rem 1rem;
  width: 90vw;
}
.weather-good {
  background-image: linear-gradient(aqua, yellow);
  color: darkblue;
}
.weather-bad {
  background-image: linear-gradient(aqua, blueviolet);
  color: darkblue;
}
